<!DOCTYPE html>
<html>
<head>
    <title>News Articles</title>
</head>
<body>
    <h1>News Articles</h1>
    <ul>
        {% for article in articles %}
            <li>
                <strong>{{ article.title }}</strong><br>
                {{ article.content }}<br>
                Published on: {{ article.pub_date }}<br>
                Source: <a href="{{ article.source_url }}" target="_blank">{{ article.source_url }}</a><br>
                <br>Category: {{ article.category }}</br>
                Sentiment score: {{article.sentiment_score}}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
